# Aufgaben zum Fitnesscenter

In [ ]:
-- Aufgabe 1
USE FitnessCenter;
SELECT Vorname, Nachname FROM Kunden WHERE Geschlecht = 'w';

In [ ]:
-- Aufgabe 2
USE FitnessCenter;
SELECT PLZ FROM Orte WHERE Ortname = 'Untersiggenthal';

In [ ]:
-- Aufgabe 3
USE FitnessCenter;
SELECT Ortname FROM Orte WHERE Kanton = 'Zug' ORDER BY Ortname ASC;

In [ ]:
-- Aufgabe 4
USE FitnessCenter;
SELECT Ortname, Kanton FROM Orte WHERE Ortname LIKE '%ägeri%';

In [ ]:
-- Aufgabe 5
USE FitnessCenter;
SELECT Ortname, Kanton FROM Orte WHERE Ortname = 'Pully' OR Ortname = 'Muttenz' OR Ortname = 'Urdorf';

In [ ]:
-- Aufgabe 6
USE FitnessCenter;
SELECT Vorname, Nachname, Krankenkasse FROM Kunden WHERE Krankenkasse = 'Group Mutuel';

In [ ]:
-- Aufgabe 7
USE FitnessCenter;
SELECT Vorname, Nachname FROM Kunden WHERE Vorname LIKE '%a' AND Geschlecht = 'w';

In [ ]:
-- Aufgabe 8
USE FitnessCenter;
SELECT Vorname FROM Mitarbeiter WHERE Nachname = 'Müller';

In [ ]:
-- Aufgabe 9
USE FitnessCenter;
SELECT Vorname, Nachname, Krankenkasse FROM Kunden WHERE Krankenkasse IS NULL;

In [ ]:
-- Aufgabe 10
USE FitnessCenter;
SELECT Ortname FROM Orte WHERE NOT Kanton = 'Zürich' AND NOT Kanton = 'Waadt' AND NOT Kanton = 'Wallis' ORDER BY Ortname ASC;

In [ ]:
-- Aufgabe 11
USE FitnessCenter;
SELECT Vorname, Nachname, Geburtsdatum, Krankenkasse FROM Kunden WHERE Geburtsdatum >= 1990 AND NOT Krankenkasse IS NULL;

In [ ]:
-- Aufgabe 12
USE FitnessCenter;
SELECT Vorname, Nachname, Geburtsdatum FROM Kunden WHERE Geburtsdatum BETWEEN 1960-01-01 AND 1960-12-31;

In [ ]:
-- Aufgabe 13
USE FitnessCenter;
SELECT SUM(Monatslohn) AS Totalsumme_Monat FROM Mitarbeiter;
SELECT SUM(Monatslohn * 12) AS Totalsumme_Jahr FROM Mitarbeiter;