# Aufgaben zur Zugdatenbank

## Simple Aufgaben

In [ ]:
-- Aufgabe 1
USE Zugdatenbank;
SELECT Name FROM Bahnhoefe WHERE LiegtInKanton = 'Basel Stadt';

In [ ]:
-- Aufgabe 2
USE Zugdatenbank;
SELECT ZugNr, Start, Ziel, Abfahrt FROM Zuege, Verbindet, Bahnhoefe WHERE LiegtInOrt = 'Basel' AND Abfahrt BETWEEN '14:00' AND '15:00';

In [ ]:
-- Aufgabe 3
USE Zugdatenbank;
SELECT COUNT(Gleise) AS Anzahl_Gleise FROM Bahnhoefe WHERE LiegtInOrt = 'Thalwil';

In [ ]:
-- Aufgabe 4
USE Zugdatenbank;
SELECT SUM(Gleise) AS Total_Gleise FROM Bahnhoefe;

In [ ]:
-- Aufgabe 5
USE Zugdatenbank;
SELECT SUM(Gleise) AS Gleise_ZugLuzern FROM Bahnhoefe WHERE LiegtInOrt = 'Zug' AND LiegtInOrt = 'Luzern';

In [ ]:
-- Aufgabe 6
USE Zugdatenbank;
SELECT AVG(Gleise) AS Durchschnitt FROM Bahnhoefe;

In [ ]:
-- Aufgabe 7
USE Zugdatenbank;
SELECT MAX(Abfahrt) AS SpaetesteFahrt FROM Verbindet, Bahnhoefe WHERE Name = 'Basel SBB';

In [ ]:
-- Aufgabe 8
USE Zugdatenbank;
SELECT Name, Kanton FROM Staedte WHERE Kanton LIKE '%n';

In [ ]:
-- Aufgabe 9
USE Zugdatenbank;
SELECT Name, Kanton FROM Staedte WHERE Name = Kanton;

In [ ]:
-- Aufgabe 10
USE Zugdatenbank;
SELECT MAX(Gleise) AS Gleise FROM Bahnhoefe;

In [ ]:
-- Aufgabe 11
USE Zugdatenbank;
SELECT COUNT(Zug) AS Züge FROM Verbindet WHERE Von = 'Olten';

In [ ]:
-- Aufgabe 12
USE Zugdatenbank;
SELECT COUNT(Zug) AS Züge, Von FROM Verbindet GROUP BY Von;

In [ ]:
-- Aufgabe 13
USE Zugdatenbank;
SELECT LiegtInKanton AS Kanton, SUM(Gleise) FROM Bahnhoefe GROUP BY LiegtInKanton;

## Aufgaben für Fortgeschrittene

In [ ]:
-- Aufgabe 1
USE Zugdatenbank;
SELECT Name FROM Bahnhoefe WHERE Gleise = (SELECT MAX(Gleise) FROM Bahnhoefe);

In [ ]:
-- Aufgabe 2
USE Zugdatenbank;
SELECT Name FROM Bahnhoefe WHERE Gleise < (SELECT AVG(Gleise) FROM Bahnhoefe);

In [ ]:
-- Aufgabe 3
USE Zugdatenbank;
SELECT LiegtInOrt AS Ort, Anzahl_Bahnhoefe FROM (SELECT LiegtInOrt, COUNT(*) AS Anzahl_Bahnhoefe FROM Bahnhoefe GROUP BY LiegtInOrt) AS Bahnhoefe_Sub WHERE Anzahl_Bahnhoefe > 1;

In [ ]:
-- Aufgabe 4
USE Zugdatenbank;
SELECT Zug, Abfahrt FROM Verbindet, (SELECT MAX(Ankunft) AS Späteste_Ankunft FROM Verbindet WHERE Nach = 'Basel SBB' GROUP BY Ankunft) AS Ankunft_1 WHERE Abfahrt > Späteste_Ankunft AND Von = 'Basel SBB';

In [ ]:
-- Aufgabe 5
USE Zugdatenbank;
SELECT 
    (SELECT DATEDIFF(SECOND, Abfahrt, Ankunft) 
     FROM Verbindet 
     WHERE Zug = 7 AND Von = 'Zürich HB' AND Nach = 'Baden')
    + 
    (SELECT DATEDIFF(SECOND, Abfahrt, Ankunft) 
     FROM Verbindet 
     WHERE Zug = 7 AND Von = 'Baden' AND Nach = 'Basel SBB')
    + 
    (SELECT DATEDIFF(SECOND, Abfahrt, Ankunft) 
     FROM Verbindet 
     WHERE Zug = 7 AND Von = 'Basel SBB' AND Nach = 'Basel Bad')
    AS Fahrtzeit_Seconds,

    (SELECT DATEDIFF(MINUTE, Abfahrt, Ankunft) 
     FROM Verbindet 
     WHERE Zug = 7 AND Von = 'Zürich HB' AND Nach = 'Baden')
    + 
    (SELECT DATEDIFF(MINUTE, Abfahrt, Ankunft) 
     FROM Verbindet 
     WHERE Zug = 7 AND Von = 'Baden' AND Nach = 'Basel SBB')
    + 
    (SELECT DATEDIFF(MINUTE, Abfahrt, Ankunft) 
     FROM Verbindet 
     WHERE Zug = 7 AND Von = 'Basel SBB' AND Nach = 'Basel Bad')
    AS Fahrtzeit_Minutes;

## Aufgaben für Profis

In [ ]:
-- Aufgabe 1
USE FitnessCenter;
SELECT Vorname, Nachname, Ortname, Kanton FROM Kunden INNER JOIN Orte ON Kundennummer = OrtId;

In [ ]:
-- Aufgabe 2
USE FitnessCenter;
SELECT Mitarbeiter.Vorname AS Mitarbeiter_Vorname, Mitarbeiter.Nachname AS Mitarbeiter_Nachname, Kunden.Vorname AS Kunden_Vorname, Kunden.Nachname AS Kunden_Nachname, Betreuung.Notizen AS Betreuung_Notizen
FROM Betreuung 
INNER JOIN Mitarbeiter ON Mitarbeiter.Personalnummer = Betreuung.Personalnummer
INNER JOIN Kunden ON Kunden.Kundennummer = Betreuung.Kundennummer;

In [ ]:
-- Aufgabe 3
USE Zugdatenbank;
SELECT Bahnhoefe.Name AS Name_Bahnhof, Bahnhoefe.LiegtInKanton AS Kanton, Verbindet.Nach AS Zug
FROM Bahnhoefe INNER JOIN Verbindet ON Verbindet.Nach = Bahnhoefe.Name;

In [ ]:
-- Aufgabe 4
USE Zugdatenbank;
SELECT Zuege.ZugNr AS ZugNr, Bahnhoefe.Name AS Abfahrts_Bahnhof, Verbindet.Abfahrt AS Abfahrtzeit, Bahnhoefe.Name AS Ankunfts_Bahnhof, Verbindet.Ankunft AS Ankunftszeit
FROM Verbindet
INNER JOIN Zuege ON Zuege.ZugNr = Verbindet.Zug
INNER JOIN Bahnhoefe ON Bahnhoefe.Name = Verbindet.Von
WHERE LiegtInKanton = 'Luzern'
ORDER BY Verbindet.Abfahrt ASC;